body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.welcomeSpan {
	display: inline-block;
	margin:10px 20px;
	padding:5px;
}
.centerButton {
	display: block;
	margin:20px auto;
}
form {
	border:2px solid #333333;
	display: block;
	margin:20px auto;
	padding:20px;
	border-radius: 10px;
}
h1 {
	color:orange;
}